<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressage.mapper.CompanyMapper">
    <select id="getAllCompany" resultType="ExpressageCompany" parameterType="java.util.Map">
        select * from expressagecompany
    </select>
    <delete id="delCompany" parameterType="java.lang.Integer">
        delete from expressagecompany where expressagecompany_id = #{expressagecompany_id}
    </delete>

    <insert id="addCompanyInfo" parameterType="com.expressage.entity.ExpressageCompany">
        insert into expressagecompany(expressagecompany_name) value (#{expressagecompany_name})
    </insert>

</mapper>