<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressage.mapper.ExpressageMapper">
    <select id="getAllExpressageInfo" resultType="Expressage" parameterType="java.util.Map">
        select * from expressage where 1 = 1
        <choose>
            <when test="type == 0">
                and 1 = 1
            </when>
            <when test="type == 1">
                and delivery_id is null
            </when>
            <when test="type == 2 and role == 1">
                and expressage_logistics_company = #{expressage_logistics_company}
                and delivery_id is null
            </when>
            <when test="type == 2 and role == 0">
                and expressage_logistics_company = #{expressage_logistics_company}
            </when>
        </choose>
    </select>
    <select id="getMyExpressageInfo" resultType="Expressage" parameterType="java.util.Map">
        select * from expressage where 1 = 1
        <choose>
            <when test="role == 2">
                and uid = #{uid}
            </when>
            <otherwise>
                and delivery_id = #{uid}
            </otherwise>
        </choose>
    </select>
    <insert id="addExpressageInfo" parameterType="com.expressage.entity.Expressage">
        insert into expressage (expressage_code,expressage_recipient_name,expressage_recipient_phone,expressage_logistics_company,
        expressage_delivery_time,expressage_dormitory_number,expressage_delivery_status,uid,expressage_pay_status,expressage_recipient_status)
        value (#{expressage_code},#{expressage_recipient_name},#{expressage_recipient_phone},#{expressage_logistics_company},
        #{expressage_delivery_time},#{expressage_dormitory_number},#{expressage_delivery_status},#{uid},#{expressage_pay_status},#{expressage_recipient_status})
    </insert>

    <select id="getOneExpressageInfo" resultType="Expressage" parameterType="java.util.Map">
        select * from expressage where expressage_id = #{expressage_id}
    </select>

    <update id="updateExpressageInfo" parameterType="java.lang.String">
        update expressage
        <choose>
            <when test="type == 0">
                set expressage_delivery_status = '配送中',
                delivery_id = #{user.uid}
            </when>
            <when test="type == 1">
                set expressage_delivery_status = '已配送',
                expressage_message = #{message}
            </when>
            <when test="type == 2">
                set expressage_recipient_status = 1
            </when>
            <when test="type == 3">
                set expressage_pay_status = '已支付'
            </when>
            <otherwise>
                set expressage_id = expressgage_id
            </otherwise>
        </choose>
        where expressage_id = #{expressage_id}
    </update>

    <update id="updateExpressageStatus" parameterType="java.lang.String">
        update expressagestatus
        <choose>
            <when test="type == 0">
                set delivery_status_time = now()
            </when>
            <when test="type == 1">
                set compelete_delivery = now()
            </when>
            <when test="type == 2">
                set recipient_status_time = now()
            </when>
            <when test="type == 3">
                set compelete_pay_time = now()
            </when>
            <otherwise>
                set expressage_id = expressgage_id
            </otherwise>
        </choose>
        where expressage_id = #{expressage_id}
    </update>

    <select id="getOneExpressageStatus" resultType="ExpressageStatus" parameterType="java.util.Map">
        select * from expressagestatus where expressage_id = #{expressage_id}
    </select>

    <delete id="delExpressage" parameterType="java.lang.Integer">
        delete from expressage where expressage_id = #{expressage_id}
    </delete>

    <update id="updateExpressage" parameterType="com.expressage.entity.Expressage">
        update expressage set expressage_code = #{expressage_code},expressage_recipient_name = #{expressage_recipient_name},
        expressage_recipient_phone = #{expressage_recipient_phone},expressage_logistics_company = #{expressage_logistics_company},
        expressage_delivery_time = #{expressage_delivery_time},expressage_dormitory_number = #{expressage_dormitory_number}
        where expressage_id = #{expressage_id}
    </update>

    <select id="getMonExpressage" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) from expressage
        <where>
            <if test="firstDay !=null and firstDay !=''">
        <![CDATA[AND DATE_FORMAT(create_time, '%Y-%m-%d %h:%i:%s') >=  DATE_FORMAT(#{firstDay}, '%Y-%m-%d %h:%i:%s')]]>
            </if>
            <if test="lastDay !=null and lastDay !=''">
        and <![CDATA[AND DATE_FORMAT(create_time, '%Y-%m-%d %h:%i:%s') <=  DATE_FORMAT(#{lastDay}, '%Y-%m-%d %h:%i:%s')]]>
            </if>
        <choose>
            <when test="type == 0">
                and 1 = 1
            </when>
            <when test="type == 1">
                and expressage_pay_status == 1
            </when>
            <when test="type == 2">
                and expressage_delivery_status == '待配送'
            </when>
        </choose>
        </where>
    </select>


</mapper>